@page "/"

<PageTitle>Home</PageTitle>

@using WestWindSystem.BLL
@using WestWindSystem.Entities

<h1>Hello, world!</h1>

Welcome to your new app.

<p>
	WestWind DB Version Major: @Build.Major
</p>

@code {
	private BuildVersion Build { get; set; }

	//Inject our services
	[Inject]
	public BuildVersionServices BVServices{ get; set; }

	protected override void OnInitialized()
	{
		Build = BVServices.GetBuildVersion();

		base.OnInitialized();
	}
}