@page "/productcrud/{ProductID:int?}"
@using WestWindSystem.Entities
@using WestWindSystem.BLL


<PageTitle>Product CRUD</PageTitle>

<h1>Product CRUD</h1>

@if (FeedbackMessage != String.Empty)
{
    <div class="alert alert-info">
        @FeedbackMessage
    </div>
}

<!--EditForm Region-->

<EditForm>
    <fieldset>
        <label>Product ID</label>
        <InputNumber/>

        <label>Name</label>
        <InputText/>

        <lablel>Supplier</lablel>
        <InputSelect>

        </InputSelect>
        <label>Category</label>
        <InputSelect>

        </InputSelect>

        <label>Qty / Unit</label>
        <InputText/>

        <label>Unit Price</label>
        <InputNumber/>

        <label>Min Order Qty</label>
        <InputNumber/>

        <label>Units on Order</label>
        <InputNumber/>
    </fieldset>
</EditForm>

<!--EditForm Region End-->

@code {

    private string? FeedbackMessage = String.Empty;

    [Inject]
    private ProductServices _ProductServices { get; set; }

    [Inject]
    private CategoryServices _CategoryServices { get; set; }

    [Inject]
    private SupplierServices _SupplierServices { get; set; }

    private Product CurrentProduct = new();

    private List<Category> Categories = new();
    private List<Supplier> Suppliers = new();

    private int SelectedCategoryId;

    //Must match the value in our @page declaration
    [Parameter]
    public int? ProductID { get; set; }

    [Inject]
    protected NavigationManager NavManager { get; set; }

    protected override void OnInitialized()
    {
        Categories = _CategoryServices.GetAllCategories();
        Suppliers = _SupplierServices.GetAllSuppliers();

        base.OnInitialized(); 
    }

    private void Clear()
    {
        FeedbackMessage = String.Empty;
    }

    private Exception GetInnerException(Exception ex)
    {
        while (ex.InnerException != null)
            ex = ex.InnerException;
        return ex;
    }
}
