@page "/productcrud/{ProductID:int?}"
@using WestWindSystem.Entities
@using WestWindSystem.BLL


<PageTitle>Product CRUD</PageTitle>

<h1>Product CRUD</h1>

@if (FeedbackMessage != String.Empty)
{
    <div class="alert alert-info">
        @FeedbackMessage
    </div>
}

<!--EditForm Region-->
<!--We use IDs instead of names for our label/inputs as this will compile to JS.-->
<EditForm>
    <fieldset>
        <label id="productID">Product ID</label>
        <!--Readonly as our DB should be setting this.-->
        <InputNumber id="productID" @bind-value="CurrentProduct.ProductID" readonly/>

        <label id="name">Name</label>
        <InputText id="name" @bind-Value="CurrentProduct.ProductName"/>

        <label id="supplier">Supplier</label>
        <InputSelect id="supplier" @bind-Value="CurrentProduct.SupplierID">

        </InputSelect>
        <label id="category">Category</label>
        <InputSelect id="category" @bind-Value="CurrentProduct.CategoryID">

        </InputSelect>

        <label id="qty">Qty / Unit</label>
        <InputText id="qty" @bind-Value="CurrentProduct.QuantityPerUnit"/>

        <label id="unitprice">Unit Price</label>
        <InputNumber id="unitprice" @bind-Value="CurrentProduct.UnitPrice"/>

        <label id="minorder">Min Order Qty</label>
        <InputNumber id="minorder" @bind-Value="CurrentProduct.MinimumOrderQuantity"/>

        <label id="units">Units on Order</label>
        <InputNumber id="units" @bind-Value="CurrentProduct.UnitsOnOrder"/>
    </fieldset>
</EditForm>

<!--EditForm Region End-->

@code {

    private string? FeedbackMessage = String.Empty;

    [Inject]
    private ProductServices _ProductServices { get; set; }

    [Inject]
    private CategoryServices _CategoryServices { get; set; }

    [Inject]
    private SupplierServices _SupplierServices { get; set; }

    //We will be binding all of our Inputs to this instance of our Entity
    private Product CurrentProduct = new();

    private List<Category> Categories = new();
    private List<Supplier> Suppliers = new();

    private int SelectedCategoryId;

    //Must match the value in our @page declaration
    [Parameter]
    public int? ProductID { get; set; }

    [Inject]
    protected NavigationManager NavManager { get; set; }

    protected override void OnInitialized()
    {
        Categories = _CategoryServices.GetAllCategories();
        Suppliers = _SupplierServices.GetAllSuppliers();

        base.OnInitialized(); 
    }

    private void Clear()
    {
        FeedbackMessage = String.Empty;
    }

    private Exception GetInnerException(Exception ex)
    {
        while (ex.InnerException != null)
            ex = ex.InnerException;
        return ex;
    }
}
