@page "/FileIO"

<h3>FileIODemo</h3>

<fieldset>
	<label for="name">Name</label>
	<input type="text" id="name"/>

	<label for="age">Age</label>
	<input type="number" id="age" />

</fieldset>

@code {

}
